.accordion {
  max-width: 700px;
  width: 100%;

  &__item {
    color: black;
    margin: 1rem 0;
    border-radius: 0.5rem;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    &__header {
      padding: 2rem 3rem 2rem 1rem;
      min-height: 3.5rem;
      line-height: 1.25rem;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      border-bottom: 2px solid black;

      &::after {
        content: "\002B";
        font-size: 4rem;
        position: absolute;
        right: 1rem;
        background-color: #fed230;
        padding: 20px;
      }

      &.active {
        background-color: #a9a9a9;

        &::after {
          content: "\00D7";
          background-color: #fed230;
        }
      }
    }

    &__body {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease-out;

      &__content {
        padding: 1rem;
        line-height: 1.5rem;
        border-top: 1px solid;
        border-image: linear-gradient(
            to right,
            transparent,
            #34495e,
            transparent
          )
          1;
        color: black;
        font-size: 20px;
      }
    }
  }
}

.container {
  margin: 0 auto;
  width: max-content;
  padding-top: 100px;
}

.header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5rem;
  border-bottom: 20px solid black;
  margin-bottom: 10px;
}

.question-tag {
  text-transform: uppercase;
  font-weight: 700;
  color: black;
  margin-right: 30px;
  font-size: 2rem;
}
